@import compass_twitter_bootstrap_responsive
@import compass/css3
@import compass/utilities


@media (max-width: 480px)
  .hero-unit
    padding: 20px
    height: 150px
    width: 100%
    @include border-radius(0)

  h1
    font-size: 3em !important
