@import compass_twitter_bootstrap

$background_color: #000
$text_color: #fff

body
  color: $text_color
  background-color: $background_color
  background-image: url("../image/cotton02.jpg")

p
  line-height: 26px !important

h1,h2,h3,h4,cite
  font-family: 'IM Fell Double Pica SC', serif !important


.hero-unit
  height: 300px
  background-image: url("../image/top.jpg")
  h1
    margin-bottom: 11px
    text-shadow: 0 0 10px #000

.row
  p,dl
    margin-top: 0 
    padding-left: 20px
    padding-right: 20px

cite
  font-size: 2em

ol
  margin: 8px 0 6px 19px

li
  display: block
  clear: both

dl dd
  margin-bottom: 5px

div.info
  float: left

div.play
  float: left
  margin-top: 5px
  margin-right: 10px


footer
  margin-top: 4em
  padding-top: 1em
  text-align: center

